@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root {
  /* Colors */

  /* Primary */

  /* Text */
  /*  (sub-heading at the top of the app UI) */
  --Pale-Violet: hsl(276, 100%, 81%);
  /*  (chat on the left) */
  --Moderate-Violet: hsl(276, 55%, 52%);
  /* (chat on the right) */
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
  /* (placeholder text) */
  --Grayish-Blue: hsl(206, 6%, 79%);
  /*  (main heading) */
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  /*  (paragraph) */
  --Dark-Grayish-Violet: hsl(270, 7%, 64%);

  /* Gradients */
  /* 
These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */

  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);

  /* Secondary */

  --White: hsl(0, 0%, 100%);
  /* (app background) */
  --Light-Grayish-Violet: hsl(270, 20%, 96%);
  /* (submit button background) */
  --Very-Dark-DesaturatedViolet: hsl(271, 36%, 24%);
  /* (radio button outline) */
  --Very-Light-Magenta: hsl(289, 100%, 72%);
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.mobile-screen-section {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-screen-section:before {
  content: '';
  height: 600px;
  width: 600px;
  margin-top: -200px;
  margin-left: -400px;
  z-index: -100;
  border-radius: 0 0 1000px 1000px;
  /* colors */
  background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
}
.mobile {
  box-sizing: border-box;
  width: 280px;
  height: 550px;
  border-radius: 35px;
  margin-left: -180px;
  border: none;
  /* layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* colors */
  background-color: var(--White);
  box-shadow: rgba(183, 173, 187, 0.25) 40px 30px 60px -12px,
    rgba(245, 211, 247, 0.3) 40px 18px 36px -18px;
}
.app {
  width: 260px;
  height: 520px;
  border-radius: 30px;
  /* ** */
  background-color: var(--Light-Grayish-Violet);
}
.app .top-header {
  position: relative;
  height: 70px;
  width: 100%;
  border-radius: 25px 25px 5px 5px;
  /* layouts */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* colors */
  background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.app .top-header::before {
  content: '';
  width: 55%;
  height: 20px;
  border-radius: 0 0 25px 25px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  /* colors */
  background-color: #fff;
}
.top-header .fas {
  color: #fff;
  margin: 18px 12px;
}

.app .top-header .profile {
  position: absolute;
  left: 30px;
  bottom: 12px;
  /* layout */
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* colors */
  color: #fff;
}
.profile .avatar {
  box-sizing: border-box;
  height: 30px;
  height: 30px;
  border-radius: 1000px;
  border: 2px solid #fff;
  /* ** */
  grid-row: 1/3;
  grid-column: 1/2;
}
.profile .name {
  margin: 0;
  padding: 0;
  grid-row: 1/2;
  grid-column: 2/3;
  /* text */
  font-size: 0.7rem;
  font-weight: bold;
  /* colors */
  color: #fff;
}
.profile .occupation {
  margin: 0;
  padding: 0;
  grid-row: 2/3;
  grid-column: 2/3;
  /*text */
  font-size: 0.7rem;
  /* colors */
  color: #fff;
  opacity: 0.8;
}

/* chatting  */
.chatting-section {
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.media-msg {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  grid-column: 2/4;
  grid-row: 3/4;
}
.media-msg img {
  height: 45px;
  width: 45px;
  border-radius: 10px;
  animation: fading 2s 0.5s ease-out backwards;
}
.received-msg {
  margin: 0;
  margin-bottom: 12px;
  padding: 4px 4px 4px 10px;
  border-radius: 8px 8px 8px 2px;
  /* text */
  font-size: 0.6rem;
  line-height: 15px;
  /* colors */
  color: var(--Moderate-Violet);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background: #ede5f4;
  animation: loading-left 1s 0.5s ease-out backwards;
}
.received-msg.msg-1 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.received-msg.msg-2 {
  grid-column: 1/3;
  grid-row: 2/3;
}
.received-msg.msg-3 {
  grid-column: 1/3;
  grid-row: 6/7;
}
.sent-msg {
  margin: 0;
  margin-bottom: 12px;
  padding: 4px 4px 4px 10px;
  border-radius: 8px 8px 2px 8px;
  /* text */
  font-size: 0.6rem;
  /* colors  */
  color: var(--Very-Dark-Desaturated-Violet);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: #fff;
  animation: loading-right 1s 0.5s ease-out backwards;
}
.sent-msg.msg-1 {
  grid-column: 2/4;
  grid-row: 4/5;
}
.sent-msg.msg-2 {
  grid-column: 2/4;
  grid-row: 5/6;
}

.walk-istimate {
  box-sizing: border-box;
  width: 180px;
  height: 35px;
  border-radius: 8px 8px 8px 4px;
  padding: 5px;
  margin-bottom: 8px;
  position: relative;
  /* layout */
  display: flex;
  align-items: center;
  /* text */
  font-size: 0.7rem;
  /* colors */
  background: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  color: #fff;
  animation: loading-left 1s 0.5s ease-out backwards;
}
.walk-istimate .price {
  position: absolute;
  right: 10px;
  /* text */
  font-size: 1.2rem;
  font-weight: 700;
}
.walk-istimate .far {
  opacity: 0.6;
  margin: 0 4px;
}
.walk-istimate.walk-istimate-1 {
  grid-column: 1/3;
  grid-row: 7/8;
}
.walk-istimate.walk-istimate-2 {
  grid-column: 1/3;
  grid-row: 8/9;
}

.input {
  box-sizing: border-box;
  height: 40px;
  margin-top: 12px;
  padding-left: 16px;
  border-radius: 100px;
  /* layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/4;
  grid-row: 9/10;
  /* colors */
  background-color: white;
  color: var(--Dark-Grayish-Violet);
  /* text */
  font-size: 0.8rem;
}
.input .submit-btn {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  margin-right: 8px;
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  /* colors */
  color: #fff;
  background-color: var(--Very-Dark-Desaturated-Violet);
}
/* text section */
.text-section {
  width: 55%;
  position: relative;
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
.main-heading {
  margin: 0 0 32px 16px;
  padding: 0;
  /* text */
  font-size: 2.5rem;
  font-weight: 500;
  text-align: left;
  /* colors */
  color: var(--Very-Dark-Desaturated-Violet);
}
.paragraph {
  width: 70%;
  margin: 0 48px 0 16px;
  padding: 0;
  /* text */
  font-size: 1.1rem;
  line-height: 1.6em;
  /* colors */
  color: var(--Dark-Grayish-Violet);
}
.text-section::after {
  content: '';
  width: 300px;
  height: 600px;
  border-radius: 300px 0 0 0;
  position: absolute;
  bottom: 0;
  right: -140px;
  z-index: -120;
  /* colors */
  background-color: var(--Pale-Violet);
  opacity: 0.09;
}
/* animation  */

@keyframes loading-left {
  0% {
    transform: translatex(-50px);
    opacity: 0;
  }
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}

@keyframes loading-right {
  0% {
    transform: translatex(50px);
    opacity: 0;
  }
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* defining width for screens < 600px  */
@media (max-width: 600px) {
  .main {
    flex-direction: column;
    height: auto;
  }
  .mobile-screen-section {
    width: 100%;
  }
  .mobile {
    margin-top: 64px;
  }
  .text-section {
    margin-top: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .text-section::after {
    width: 250px;
    height: 300px;
    border-radius: 300px 0 0 0;
    bottom: 0;
    right: -140px;
  }

  .main-heading {
    margin: 0;
    margin-bottom: 64px;
    text-align: center;
  }
  .paragraph {
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
  }
}

/* defining width for screens < 300px  */
@media (max-width: 400px) {
  .mobile {
    width: 235px;
    height: 460px;
    margin-left: -200px;
  }
  .app {
    width: 220px;
    height: 440px;
  }
  .app .top-header .profile {
    position: absolute;
    left: 30px;
    bottom: 12px;
    /* layout */
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* colors */
    color: #fff;
  }
  .app .top-header {
    height: 55px;
  }
  .top-header .fas {
    margin: 10px 12px;
  }
  .app .top-header .profile {
    bottom: 4px;
  }
  .app .top-header::before {
    height: 15px;
  }
  .media-msg img {
    height: 35px;
    width: 35px;
  }
  .received-msg {
    margin-bottom: 10px;
    font-size: 0.55rem;
    line-height: 12px;
  }
  .sent-msg {
    margin-bottom: 10px;
    font-size: 0.55rem;
    line-height: 12px;
  }
  .walk-istimate {
    height: 28px;
    margin-bottom: 6px;
    font-size: 0.6rem;
  }
  .input {
    margin-top: 6px;
    font-size: 0.6rem;
    height: 35px;
  }
  .walk-istimate .price {
    font-size: 0.8rem;
  }
}
