@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root {
  /* Colors */

  /* Primary */

  /* Text */
  /*  (sub-heading at the top of the app UI) */
  --Pale-Violet: hsl(276, 100%, 81%);
  /*  (chat on the left) */
  --Moderate-Violet: hsl(276, 55%, 52%);
  /* (chat on the right) */
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
  /* (placeholder text) */
  --Grayish-Blue: hsl(206, 6%, 79%);
  /*  (main heading) */
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  /*  (paragraph) */
  --Dark-Grayish-Violet: hsl(270, 7%, 64%);

  /* Gradients */
  /* 
These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */

  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);

  /* Secondary */

  --White: hsl(0, 0%, 100%);
  /* (app background) */
  --Light-Grayish-Violet: hsl(270, 20%, 96%);
  /* (submit button background) */
  --Very-Dark-DesaturatedViolet: hsl(271, 36%, 24%);
  /* (radio button outline) */
  --Very-Light-Magenta: hsl(289, 100%, 72%);
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--Light-Grayish-Violet);
  height: 100vh;
}


/* text section */
.text-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}
.main-heading {
  color: var(--Very-Dark-Desaturated-Violet);
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
.paragraph {
  font-size: 1.1rem;
  line-height: 1.6em;
  color: var(--Dark-Grayish-Violet);
  margin: 0;
  padding: 0;
  margin-right: 48px;
}
.text-section .background-styling {
  position: absolute;
  width: 200px;
  height: 600px;
  border-radius: 1000px 0 0 0;
  bottom: 0;
  right: -140px;
  z-index: -120;
  background: none;
  background-color: var(--Pale-Violet);
  opacity: 0.09;
}
