@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root {
  /* Colors */

  /* Primary */

  /* Text */
  /*  (sub-heading at the top of the app UI) */
  --Pale-Violet: hsl(276, 100%, 81%);
  /*  (chat on the left) */
  --Moderate-Violet: hsl(276, 55%, 52%);
  /* (chat on the right) */
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
  /* (placeholder text) */
  --Grayish-Blue: hsl(206, 6%, 79%);
  /*  (main heading) */
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  /*  (paragraph) */
  --Dark-Grayish-Violet: hsl(270, 7%, 64%);

  /* Gradients */
  /* 
These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */

  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);

  /* Secondary */

  --White: hsl(0, 0%, 100%);
  /* (app background) */
  --Light-Grayish-Violet: hsl(270, 20%, 96%);
  /* (submit button background) */
  --Very-Dark-DesaturatedViolet: hsl(271, 36%, 24%);
  /* (radio button outline) */
  --Very-Light-Magenta: hsl(289, 100%, 72%);
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--Light-Grayish-Violet);
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.mobile-screen-section {
  width: 60%;
  display: flex;
  flex-direction: row;
}
.background-styling {
  height: 600px;
  width: 550px;
  background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 0 0 1000px 1000px;
  margin-left: -100px;
}
.mobile {
  box-sizing: border-box;
  width: 280px;
  height: 580px;
  background-color: var(--White);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 25px;
  margin-top: 50px;
  margin-left: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  width: 255px;
  height: 545px;
  background-color: var(--Light-Grayish-Violet);
  border-radius: 25px;
}
.app .top-header {
  height: 80px;
  width: 100%;
  border-radius: 25px 25px 5px 5px;
  position: relative;
  background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.app .top-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 170px;
  height: 20px;
  background-color: #fff;
  border-radius: 0 0 25px 25px;
}
.top-header .fas {
  color: #fff;
  margin-bottom: 16px;
}

.app .top-header .profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 8px;
}
.profile .avatar {
  height: 40px;
  height: 40px;
  border-radius: 1000px;
  box-sizing: border-box;
  border: 2px solid #fff;
  grid-row: 1/3;
  grid-column: 1/2;
}
.profile .name {
  margin: 0;
  padding: 0;
  grid-row: 1/2;
  grid-column: 2/3;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
}
.profile .occupation {
  margin: 0;
  padding: 0;
  grid-row: 2/3;
  grid-column: 2/3;
  color: #fff;
  opacity: 0.8;
  font-size: 0.7rem;
}

/* chatting  */
.chatting-section {
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.media-msg {
  display: flex;
  justify-content: space-between;
  grid-column: 2/4;
  grid-row: 3/4;
  margin-bottom: 10px;
}
.media-msg img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.received-msg {
  margin: 0;
  padding: 5px;
  padding-left: 10px;
  border-radius: 8px 8px 4px 8px;
  color: var(--Moderate-Violet);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  font-size: 0.7rem;
  background: #ede5f4;
  margin-bottom: 10px;
  line-height: 15px;
}
.received-msg.msg-1 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.received-msg.msg-2 {
  grid-column: 1/3;
  grid-row: 2/3;
}
.received-msg.msg-3 {
  grid-column: 1/3;
  grid-row: 6/7;
}
.sent-msg {
  margin: 0;
  padding: 5px;
  padding-left: 10px;
  border-radius: 8px 8px 4px 8px;
  color: var(--Very-Dark-Desaturated-Violet);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: #fff;
  font-size: 0.7rem;
  margin-bottom: 10px;
}
.sent-msg.msg-1 {
  grid-column: 2/4;
  grid-row: 4/5;
}
.sent-msg.msg-2 {
  grid-column: 2/4;
  grid-row: 5/6;
}

/* text section */
.text-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}
.main-heading {
  color: var(--Very-Dark-Desaturated-Violet);
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
.paragraph {
  font-size: 1.1rem;
  line-height: 1.6em;
  color: var(--Dark-Grayish-Violet);
  margin: 0;
  padding: 0;
  margin-right: 48px;
}
.text-section .background-styling {
  position: absolute;
  width: 200px;
  height: 600px;
  border-radius: 1000px 0 0 0;
  bottom: 0;
  right: -140px;
  z-index: -120;
  background: none;
  background-color: var(--Pale-Violet);
  opacity: 0.09;
}
